html{
	position: relative;
}

body{

	margin-bottom: 120px;
	margin-top: 30px;

}
.navbar {
	min-height: 70px;
	border-radius: 0;
	margin-bottom: 0;
	border-bottom: solid 6px #228B22;
	box-shadow: 0 2px 10px 0 #000000;
		background:#228B22;
}
#about {
	background:#006400;
	color : #fff;
}

#about img, #portfolio img {
	width: 100%;
	
}	
.jumbotron {
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 - 150px; 
	color: #000000;
	overflow: hidden;
}



.jumbotron img {
	width: 200px;
	border: 5px solid #eaeaea;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p {
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

 hr {
	width: 250px;
	border-top: 3px solid #999;
}

section {
	min-height: 600px;
}

.pKiri, .pKanan {
	opacity: 0;
	transform: translate(-50px, 0);
	transition: 1s;
}

.pKanan {
	transform: translate(50px, 0);
}

.pKiri.pMuncul, .pKanan.pMuncul{
	opacity: 1;
	transform: translate(0,0);
}

.portfolio {
	background-color: #000000;
	color : #fff;
}

.portfolio .thumbnail{
	opacity: 0;
	transform: translate(0, -40px);
	transition: .5s;
}

.portfolio .thumbnail.muncul {
	opacity: 1;
	transform: translate(0,0);
}

.contact{
	min-height: 800px;
	background-color: #DCDCDC;
}

footer {
	position: absolute;
	bottom: 0;
	width: 90%;
	height: 40px;
	background-color: white;
	padding-top: 10px; 
}

footer p{
	color: black;
	font-size: 1em;
}

footer p i{
	color: salmon;
}